<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Net&Co{% endblock %}</title>

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap  -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
        <!-- icon fonts font Awesome -->
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome/font-awesome.min.css') }}" media="screen">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
       
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <!-- Include jquery.min.js plugin -->
        <script src="{{ asset('js/jquery-min.js') }}"></script>
        <!-- Javascript bootstrap -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Custom JavaScript -->
        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
